@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-dark-gray: '#1e1e1e';
  --color-gray-custom: '#434343';
  --color-dark-black: '#111111';
  --color-white-500: '#d9d9d9';
  --color-green-custom: '#4cbb17';
  --font-poppins: 'Poppins', 'sans-serif';

  --breakpoint-xl: 80rem;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.custom-container {
  @apply container mx-auto max-w-[1280px] p-4 lg:p-6;
}

.heading-text {
  @apply font-poppins font-bold dark:text-white;
}

.heading-size {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

.gray-gradient {
  @apply bg-gradient-to-l from-[#1e1e1e] to-[#434343];
}

.white-gradient {
  @apply bg-gradient-to-l from-[#7d8488] to-[#fbfbfc];
}